html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO","メイリオ", "Meiryo", sans-serif;
  line-height: 1.5;
  background: #fff;
}

h1,h2,h3,h4 {
  color: #0d47a0;
  /* font-weight: normal; */
  margin: 0;
  padding: 0;
  /* font-weight: bold; */
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 28px;
  text-align: center;
}

h3 {
  font-size: 18px;
  text-align: center;
}

/* p, */a { 
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.inner {
  padding: 70px 50px;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

.line {
  background: #0d47a0;
  width: 55px;
  height: 1px;
  margin: 30px auto 60px;
}

/* ------------------------
ヘッダー 
--------------------------- */

header {
  height: 10vh;
  background: #0095d9;
}

header .inner {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logo img {
  width: 70%;
}

/* header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  max-width: 980px;
  margin: 0 auto;
} */

header .pc-menu {
  display: flex;
}

header li {
  padding: 0 16px;
}

nav img {
  width: 36px;
}

.sp-menu {
  display: none;
}

.overlay {
  background: rgba(0, 149, 217, 0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 23%;
  font-size: 50px;
  cursor: pointer;
}

.overlay nav {
  text-align: center;
}

.overlay ul {
  text-align: center;
}

.overlay li {
  /* width: 50%; */
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

.overlay.show li:nth-child(6) {
  transition-delay: .6s;
}

.overlay a {
  width: 40%;
  margin: 0 auto;
  display: block;
  padding: 24px;
  border: 2px solid #fff;
  border-radius: 8px;
}

/* 元々考えていたコード */

/* .header {
  height: 100px;
  background: #bbdefb;
  color: #0d47a0;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
} */


/* メインビジュアル */
.mainvisual {
  height: 80vh;
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.mainvisual::before {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.mainvisual h2 {
  user-select: none;
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: normal;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* カラムメニュー */
.menu {
  width: auto;
  height: 10vh;
  padding: 30px 50px;
  background: #0095d9;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.menu li + li {
  border-left: 0;
  border-right: 1px solid #fff;
}

.menu a {
  padding: 24px 36px;
  border-radius: 8px;
}

.menu a:hover {
  background: #ebf6f7;
  color: #0095d9;
  opacity: 0.7;
}

/* お知らせ */
.news {
  background: #ebf6f7;
} 

.inner {
  text-align: left;
}

.news ul {
  margin-bottom: 80px;
}

.news li {
  border-bottom: 1px dotted #ccc;
  padding: 5px 0;
}

.news li span {
  margin-right: 30px;
}

.news li a {
  color: #4a4a4a;
}

.news a {
  color: #fff;
}

.news-btn {
  display: block;
  width: 220px;
  text-align: center;
  background-color: #1a76d2;
  font-size: 16px;
  margin: 0 auto;
  padding: 10px 0;
  border: 1px solid #4a4a4a;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.7);
}

.news-btn:hover {
  opacity: 0.7;
}

/* 営業時間 */
.business-hours-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.business-hours-wrapper h3 {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 8px;
}

.business-hours-block {
  width: 50%;
}

.night-tour-hours-block {
  width: 50%;
}

/* 営業時間、入館料金共通 */
.table li {
  padding-left: 5px 0;
  padding-bottom: 4px;
}

.table li .s1{
  margin-right: 42px;
}

.table li span {
  margin-right: 30px;
  margin-left: 30px;
}


.business-hours .text {
  margin-left: 80px;
}

/* 入館料金 */
.admission-fee {
  background: #ebf6f7;
}

.fee-wrapper {
  display: flex;
  justify-content: space-between;
}

.fee-wrapper h3 {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 8px;
}

.normal-fee {
  width: 50%;
}

.night-tour-fee {
  width: 50%;
}

.admission-fee .table {
  margin-bottom: 60px;
}

.admission-fee h3:nth-of-type(2){
  padding-right: 150px;
}

.admission-fee li .s1{
  margin-right: 79px;
}

.admission-fee .table ul:nth-of-type(2) {
  padding-left: 105px;
}

.admission-fee .text {
  font-size: 24px;
  color: red;
  font-weight: bold;
}

/* イベント */
.tableArea {
  margin-bottom: 60px;
}

/* --- テーブル全体のスタイル指定 --------------- */
.tableArea {
  width          : 100%;             /* 100%幅     */
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 10pt;              /* 文字サイズ */
  background     : #ffffff;          /* テーブル全体の背景色 */
}
 /* --- ヘッダーのスタイル指定 ------------------- */
.tableArea th {
  text-align    : left;              /* 文字位置   */
  font-weight   : normal;            /* 普通文字   */
  padding       : 9px 20px;           /* 余白       */
  background    : #006888;    
  color: #fff;       /* 背景色     */
}
 /* --- 明細のスタイル指定 ----------------------- */
.tableArea td {
  text-align    : left;              /* 文字位置   */
  padding       : 9px 20px;           /* 余白       */
}
 /* --- 明細のｎ行スタイル指定 ------------------- */
.tableArea tr:nth-child(2n+1) {
  background    : #f9ffff;           /* 背景色     */
}

/* 館内案内 */
.guide {
  background: #ebf6f7;
}

.guide h3 {
  padding: 0;
}

.midokoro-wrapper img {
  width: 400px;
  height: 300px;
  clip-path: ellipse(50% 46% at 50% 50%);
  object-fit: cover;
}

.midokoro-wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.midokoro-wrapper:last-child {
  margin-top: 100px;
  margin-bottom: 160px;
}

.dolphin-block {
  width: 400px;
}

.kurage-block {
  width: 400px;
  position: relative;
  top: 80px;
}

.night-tour-block {
  width: 400px;
}

.right-up-block {
  width: 400px;
  position: relative;
  top: 80px;
}

.midokoroTxtBlock {
  text-align: center;
}

.midokoroTxtBlock .midokoroTxtTtl {
  font-weight: bold;
}

/* フロアマップ */
.map {
  margin: 60px 0;
  text-align: center;
}

/* フッター */
footer {
  font-size: 12px;
  background: #0095d9;
  color: #fff;
}

footer > .inner {
  padding: 30px 50px;
}

footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}

footer .footer-block:nth-child(2) {
  margin: 16px 60px;
}

footer .footer-block > p {
  margin: 12px;
}

footer nav {
  display: flex;
}

footer nav li {
  padding: 3px 16px;
}

footer nav a {
  font-size: 12px;
}

footer nav a:hover {
  border-bottom: 1px solid #fff;
}

footer .sns-icon ul {
  width: 160px;
  display: flex;
  position: relative;
  top: -90px;
  right: -750px;
}

footer .sns-icon li {
  margin: 0 10px;
}


footer .inner > p {
  margin: 0;
  text-align: right;
}


/* レスポンシブデザイン */
@media screen and (max-width: 599px) {
  body {
    width: 100%;
  }

  .wrap {
    overflow: hidden;
  }

  .inner {
    padding: 50px 30px;
  }
  
  .header-logo img {
    width: 50%;
  }

  header nav {
    display: none;
  }

  .overlay #close {
    color: #fff;
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 50px;
    cursor: pointer;
  }

  .overlay a {
    width: 100%;
  }

  .sp-menu {
    display: inline-block;
  }

  /* .overlay a {
    width: 90%;
  } */

  /* header ul li:last-child {
    visibility: visible;
  } */

  .mainvisual h2 {
    width: 260px;
    padding: 1px;
    font-size: 32px;
  }  

  .menu {
    display: none;
  }

  .br-sp::after {
    content: "\A";
  }

  .news span::after {
    content: "\A";
    white-space: pre;
  }

  .business-hours-wrapper {
    display: block;
  }

  .business-hours-wrapper h3 {
    margin-left: 0;
}

  .business-hours-block {
    width: 100%;
  }

  .table li .s1 {
    margin-right: 10px;
  }

  .table li span {
    margin-left: 0;
    margin-right: 10px;
  }

  .business-hours .text {
    margin-left: 0;
  }

  .business-hours p {
    margin: 0 0 64px 0;
  }

  .night-tour-hours-block {
    width: 100%;
  }

  .fee-wrapper {
    display: block;
  }

  .fee-wrapper h3 {
    margin-left: 0;
}

  .normal-fee {
    width: 100%;
  }

  .night-tour-fee {
    width: 100%;
  }

  .admission-fee .text {
    font-size: 16px;
}

  h3:nth-of-type(1){
    padding: 0;
  }
  
  h3:nth-of-type(2){
    padding: 0;
  }

  .midokoro-wrapper {
    flex-direction: column;
  }

  .midokoro-wrapper img {
    width: 100%;
  }

  .dolphin-block {
    width: 100%;
  }

  .kurage-block {
    width: 100%;
  }

  .night-tour-block {
    width: 100%;
  }

  .right-up-block {
    width: 100%;
  }

  .map img {
    width: 50%;
    height: 50%;
  }

  .map img {
    width: 100%;
  }

  footer .footer-wrapper {
    display: block;
  }

  footer nav {
    flex-wrap: wrap;
  }

  footer .footer-block:nth-child(2) {
    width: 100%;
    margin: 0;
  }
  
  .site-nav-link {
    box-sizing: border-box;
    max-width: 50%;
    min-width: 50%;
    margin-bottom: 10px;
  }

  footer .sns-icon ul {
    width: 160px;
    margin-bottom: 32px;
    display: flex;
    position: relative;
    top: -90px;
    right: -145px;
  }

}
